<template>
    <v-container>
        <v-row align="start" justify="center">
            <p class="text-h5">About</p>
        </v-row>
        <v-row align="start" justify="center">
            <p class="text-h6">Created because sending text to discord chat is annoying. 2000 char limit is way to little.</p>
        </v-row>
    </v-container>
</template>


<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';

    @Component
    export default class About extends Vue {

    }
</script>
