<template>
    <v-container>
        <v-row align="start" justify="center">
            <p class="text-h5">Text Split</p>
        </v-row>
        <v-row align="start" justify="center">
            <v-col>
                <v-card width="100%">
                    <v-card-title>
                        Options
                    </v-card-title>
                    <v-card-text class="text-h6">
                        <v-container fluid>
                            <v-row>
                                <v-col>
                                    <v-select
                                            label="Split At"
                                            :items="splitOptions"
                                            v-model="splitOption"
                                    ></v-select>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                            type="number"
                                            :label="splitAmountLabel"
                                            v-model="splitAmount"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-switch
                                            label="Output as Text"
                                            v-model="outputAsText"
                                    >
                                    </v-switch>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                            v-model="outputSeparator"
                                            :disabled="!outputAsText"
                                            type="text"
                                            label="Output text separator"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-switch
                                            label="Output as Chunks"
                                            v-model="outputAsChunks"
                                    >
                                    </v-switch>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row align="start" justify="center">
            <v-col>
                <v-card>
                    <v-card-title>
                        Input Text
                    </v-card-title>
                    <v-card-subtitle>
                        Enter the text to split here.
                    </v-card-subtitle>
                    <v-card-text>
                        <v-textarea filled auto-grow v-model="inputText"></v-textarea>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col v-if="outputAsText">
                <v-card>
                    <v-card-title>
                        Output Text
                    </v-card-title>
                    <v-card-subtitle>
                        Get your text results here
                    </v-card-subtitle>
                    <v-card-text auto-grow>
                        <v-textarea filled auto-grow :value="outputText"></v-textarea>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col v-if="outputAsChunks">
                <v-card class="mx-auto" tile>
                    <v-card-title>
                        Output Chunks
                    </v-card-title>
                    <v-card-subtitle>
                        Get your chunked results here (click to copy)
                    </v-card-subtitle>
                    <v-list flat>
                        <v-list-item-group color="primary">
                            <v-list-item v-for="chunk in outputChunks" :key="chunk" @click="copyChunk(chunk)">
                                <v-list-item-content>
                                    <pre>{{chunk}}</pre>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';


    enum OutputModes {
        Text,
        Chunks,
    }

    @Component
    export default class MainPage extends Vue {
        inputText = "";
        splitOptions = ["Characters", "Lines"];
        splitOption = this.splitOptions[0];
        outputMode = OutputModes.Chunks;
        splitAmount = 2000;
        outputSeparator = "-----------------";

        get outputText() {
            let output = this.inputText;
            if (this.splitOption == "Lines") output = this.splitLines(output).join(this.outputSeparator + '\n');
            if (this.splitOption == "Characters") output = this.splitCharacters(output).join('\n' + this.outputSeparator + '\n');
            return output;
        }

        get outputChunks() {
            const output = this.inputText;
            if (this.splitOption == "Lines") return this.splitLines(output);
            if (this.splitOption == "Characters") return this.splitCharacters(output);
            return [];
        }

        get outputAsText() {
            return this.outputMode == OutputModes.Text;
        }

        set outputAsText(val) {
            if (val) {
                this.outputMode = OutputModes.Text;
            } else {
                this.outputMode = OutputModes.Chunks;
            }
        }

        get outputAsChunks() {
            return this.outputMode == OutputModes.Chunks;
        }

        set outputAsChunks(val) {
            if (val) {
                this.outputMode = OutputModes.Chunks;
            } else {
                this.outputMode = OutputModes.Text;
            }
        }

        get splitAmountLabel() {
            return `${this.splitOption}`;
        }


        splitCharacters(text: string): string[] {
            const res = [];
            let counter = 0;
            let chunk = "";
            for (const char of text.split("")) {
                if (counter < this.splitAmount) {
                    chunk += char;
                    counter++;
                } else {
                    counter = 0;
                    res.push(chunk);
                    chunk = char;
                }
            }
            if (chunk) res.push(chunk);
            console.log(res);
            return res;
        }

        splitLines(text: string): string[] {
            const splitted = text.split("\n");
            let counter = 0;
            const result = [];
            let currString = "";
            for (const line of splitted) {
                if (counter < this.splitAmount) {
                    currString += line + "\n";
                } else {
                    result.push(currString);
                    currString = line + '\n';
                    counter = 0;
                }
                counter++
            }
            if (currString) result.push(currString);
            return result;
        }

        copyChunk(chunk: string) {
            navigator.clipboard.writeText(chunk);
        }
    }
</script>

<style lang="scss">
    pre {
        max-width: 100%;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }
</style>