


<template>
    <v-app id="app">
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list dense>
                <v-list-item link to="/">
                    <v-list-item-action>
                        <v-icon>mdi-format-text</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Splitter</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link to="/about">
                    <v-list-item-action>
                        <v-icon>mdi-information-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>About</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
                :color="$store.state.darkMode ? '' : 'primary'"
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>Text Split</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="$store.commit('toggleLightDarkMode')">
                <v-icon>{{$store.state.darkMode ? "mdi-brightness-7" : "mdi-brightness-4"}}</v-icon>
            </v-btn>
        </v-app-bar>

        <v-main>
            <v-container
                    class="fill-height"
                    fluid
            >
                <div class="main-content">
                    <router-view></router-view>
                </div>
            </v-container>
        </v-main>

        <v-footer app>
            <span>&copy; illemonati {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import {Watch} from "vue-property-decorator";

    @Component
    export default class App extends Vue {
        drawer = null;
        created() {
            this.$vuetify.theme.dark = this.$store.state.darkMode;
        }
        @Watch('$store.state.darkMode')
        onModeChanged() {
            this.$vuetify.theme.dark = this.$store.state.darkMode;
        }
    }
</script>

<style lang="scss">
    .main-content {
        width: 100%;
        height: 100%;
    }
</style>
